-------------------
### basic operations with variables

----------------------

In [3]:
# Arithmetic Operations with Variables
x = 10
y = 5

# Addition
result_add = x + y
print("Addition:", result_add)  # Output: 15

# Subtraction
result_sub = x - y
print("Subtraction:", result_sub)  # Output: 5

# Multiplication
result_mul = x * y
print("Multiplication:", result_mul)  # Output: 50

# Division (Always results in a float)
result_div = x / y
print("Division:", result_div)  # Output: 2.0

# Floor Division (Results in an integer, discards the fractional part)
result_floor_div = x // y
print("Floor Division:", result_floor_div)  # Output: 2

# Modulus (Remainder after division)
result_mod = x % y
print("Modulus:", result_mod)  # Output: 0

# Exponentiation
result_exp = x ** y
print("Exponentiation:", result_exp)  # Output: 100000

Addition: 15
Subtraction: 5
Multiplication: 50
Division: 2.0
Floor Division: 2
Modulus: 0
Exponentiation: 100000

In [5]:
2 ^ 3

1

**Comparison Operations**

In [10]:
x = 5
y = 10

# Equal to
print(x == y)  # Output: False

# Not equal to
print(x != y)  # Output: True

# Greater than
print(x > y)   # Output: False

# Less than
print(x < y)   # Output: True

# Greater than or equal to
print(x >= y)  # Output: False

# Less than or equal to
print(x <= y)  # Output: True

False
True
False
True
False
True

**Logical Operations**

In [13]:
p = True
q = False

# Logical AND
result_and = p and q
print(result_and)  # Output: False

# Logical OR
result_or = p or q
print(result_or)   # Output: True

# Logical NOT
result_not_p = not p
result_not_q = not q
print(result_not_p)  # Output: False
print(result_not_q)  # Output: True

False
True
False
True

#### String Manipulation

In [16]:
s = 'String Manipulation with Variables'

In [18]:
s[0:1]

'S'

In [20]:
s[0:]

'String Manipulation with Variables'

In [24]:
# String Manipulation with Variables
name = "Alice"
greeting = "Hello, " + name
print(greeting)  # Output: "Hello, Alice"

# String Repetition
repeated_name = name * 3
print(repeated_name)  # Output: "AliceAliceAlice"

# String Length
name_length = len(name)
print("Name Length:", name_length)  # Output: 5

# String Slicing
substring = name[1:4]
print("Substring:", substring)  # Output: "lic"

# String Concatenation with Integers (Requires explicit type conversion)
age = 30
message = "My age is " + str(age)
print(message)  # Output: "My age is 30"

Hello, Alice
AliceAliceAlice
Name Length: 5
Substring: lic
My age is 30