-------------------------
### Exercises on IF/Loops/LISTs
----------------------------

**Exercise 01**

Check if a number is Positive , negative or Zero

- use IF/elif, else

In [5]:
given_nbr = 0

In [7]:
if given_nbr > 0:
    print('given number : {} is positive'.format(given_nbr))
elif given_nbr < 0:
    print('given number : {} is negative'.format(given_nbr))
else:
    print('it is zero')

it is zero

**Exercise 02**

determine the type of triangle based on it's sides, length

- equilateral triangle
- isoceles triangle
- scalene triangle

use the following semantics
- use IF/elif/else
- and & ==
- or

In [10]:
side1 = 20
side2 = 21
side3 = 22

In [12]:
if side1 == side2 ==side3:
    print("EQ")
elif side1 == side2 or side1 == side3 or side2 == side3:
    print("ISQ")
else:
    print("Scalene")

Scalene

**Exercise 03**

check if a given year in 4 digit is a LEAP YEAR

LEAP YEAR
- divisible by 400
- divisible by 4 and 100

In [51]:
year = 2000

if (year % 400 == 0) and (year % 4 == 0) and (year % 100 == 0):
#if year % 400 == 0:
    print("Year is a leap year")
#elif year % 4 == 0:
    #if year % 100 == 0:
        #print("Year is a leap year")
    #else:
        #print("Year is not a leap year")
else:
    print("Year is not a leap year")

Year is a leap year

**Exercise 04**

Agewise ticket price

- 0 - 20 , INR 100
- 21 - 25, INR 500
- others INR 1000

In [47]:
age = 20

if age <= 20:
    print("Ticket price is 100")
elif age >= 21 and age <= 25:
    print("Ticket price is 500")
else:
    print("Ticket price is 1000")

Ticket price is 100

**Exercise 05**

Find out MAX, MIN value in a LIST

In [54]:
given_list = [ 10, 4, 56, 34, 67, 88, 76]

In [56]:
max(given_list)

88

In [58]:
min(given_list)

4

In [62]:
max_val = min_val = given_list[0]

In [66]:
for each_nbr in given_list:
    if each_nbr > max_val:
        max_val = each_nbr
    elif each_nbr < min_val:
        min_val = each_nbr

print('Maximum value in the list: {}'.format(max_val))
print('Minimum value in the list: {}'.format(min_val))

Maximum value in the list: 88
Minimum value in the list: 4

In [70]:
a = sorted(given_list, reverse = True)
a

[88, 76, 67, 56, 34, 10, 4]

In [72]:
given_list

[10, 4, 56, 34, 67, 88, 76]

**Exercise 06**

Given list of numbers

and we have check if the given list is already sorted (asc or desc)

In [75]:
given_list1 = [ 10, 4, 56, 34, 67, 88, 76]
given_list2 = [ 1,2,4,77,88,99]
given_list3 = [ 99,66,55,44,33,22,11]

In [77]:
import random

In [79]:
start_range = 10
end_range   = 20

In [81]:
random.randint(start_range, end_range)

16

In [83]:
range(5)

range(0, 5)

In [115]:
gen_list = []

start_range = 10
end_range = 20

# try nbr_iters = 100, 500, 1000

iter_loop_list = [100, 500, 1000, 1500]

sorted_count = 0

for nbr_iters in iter_loop_list:
    #print("Number of iterator is ", nbr_iters)

    for iters in range(nbr_iters):
        #print("Iter is ", iters)

        gen_list = []

        for each in range(0, 5):
            #print ("Each is ", each)
            gen_list.append(random.randint(start_range, end_range))
            #print("GeneratedList is ", gen_list)

        if gen_list == sorted(gen_list) or gen_list == sorted(gen_list, reverse=True):
            sorted_count += 1
            #print("Sorted_count", sorted_count)

    print('Exp liters = {}, number of times sorted list was generated = {}'.format(nbr_iters, sorted_count))
    sorted_count = 0

Exp liters = 100, number of times sorted list was generated = 3
Exp liters = 500, number of times sorted list was generated = 22
Exp liters = 1000, number of times sorted list was generated = 36
Exp liters = 1500, number of times sorted list was generated = 73

**Exercise 07**

Given 2 lists, each lits with 10 integers, between 1 and 20

- list1 = [...]
- list2 = [...]

use `randint` function of `random` library to generate the lists. 

Find number of common elements in the two lists

In [120]:
nbr_of_values = 15
start_range = 10
end_range = 20

list1 = []
list2 = []

for iter in range(nbr_of_values):
    list1.append(random.randint(start_range, end_range))
    list2.append(random.randint(start_range, end_range))

In [122]:
list1, list2

([14, 11, 15, 19, 16, 14, 13, 13, 12, 17, 16, 15, 10, 18, 16],
 [10, 12, 12, 15, 13, 16, 13, 20, 11, 19, 19, 11, 13, 14, 17])

find the common elements

In [127]:
common_list = []

for each_val_list1 in list1:

    if each_val_list1  in list2:
        if each_val_list1 not in common_list:
            common_list.append(each_val_list1)

    common_list

In [129]:
common_list

[14, 11, 15, 19, 16, 13, 12, 17, 10]

find the union of list1 and list2

**Exercise 08**

Given 1 list, with 10 integers, between 1 and 20

- list1 = [...]

use `randint` function of `random` library to generate the lists. 

Find the kth largest number in the list

In [133]:
nbr_of_values = 15
start_range = 10
end_range = 20

list1 = []

for iter in range(nbr_of_values):
    list1.append(random.randint(start_range, end_range))

In [135]:
list1

[18, 19, 15, 19, 10, 16, 17, 13, 20, 16, 15, 17, 10, 10, 14]

In [137]:
k = 4
# find the 4th largest number in the list
sorted_list1 = sorted(list1)

sorted_list1

[10, 10, 10, 13, 14, 15, 15, 16, 16, 17, 17, 18, 19, 19, 20]

In [139]:
sorted_list1[-k]

18