------------
#### Data structure - sets
--------------

In [6]:
%%time
# set of integers
my_set = {1,5,7,0,3,4, 3, 3 ,3 }
print(my_set)

{0, 1, 3, 4, 5, 7}
CPU times: user 322 μs, sys: 96 μs, total: 418 μs
Wall time: 406 μs

In [8]:
# set of mixed datatypes
my_set = {1.0, "Hello", (1, 2, 3)}
print(my_set)

{1.0, 'Hello', (1, 2, 3)}

In [10]:
my_set = {'a', 'z', 'e', 'i', 'l'}
my_set

{'a', 'e', 'i', 'l', 'z'}

In [12]:
str1 = set('kfkkkkkkkkkkkkkkfk')
str1

{'f', 'k'}

In [14]:
str1.add('o')
str1

{'f', 'k', 'o'}

In [22]:
# initialize my_set
my_set = {1,3}
print(my_set)

# if you uncomment line 9,
# you will get an error
# TypeError: 'set' object does not support indexing

#my_set[0]

# add an element
# Output: {1, 2, 3}
my_set.add(2)
print(my_set)

# add multiple elements
# Output: {1, 2, 3, 4}
my_set.update([2,3,4])
print(my_set)

# add list and set
# Output: {1, 2, 3, 4, 5, 6, 8}
my_set.update([4,5], {1,6,8})
print(my_set)

{1, 3}
{1, 2, 3}
{1, 2, 3, 4}
{1, 2, 3, 4, 5, 6, 8}

In [24]:
# remove elements from a set
# A particular item can be removed from set using methods, 
# discard() and remove().

# The only difference between the two is that, while using discard() 
# if the item does not exist in the set, it remains unchanged. 
# But remove() will raise an error in such condition.

In [26]:
# initialize my_set
my_set = {1, 4, 4, 5, 2}
print(my_set)

{1, 2, 4, 5}

In [28]:
# initialize my_set
my_set = {'n', 'A', 'a', 'W'}
print(my_set)

{'n', 'A', 'W', 'a'}

In [36]:
# initialize my_set
my_set = {1, 4, 4, 5, 6}
print(my_set)

# discard an element
my_set.discard(4)
print(my_set)

# remove an element
my_set.remove(6)
print(my_set)

# discard an element
# not present in my_set
my_set.discard(2)
print(my_set)

# remove an element
# not present in my_set
# Output: KeyError: 2

# my_set.remove(2)

{1, 4, 5, 6}
{1, 5, 6}
{1, 5}
{1, 5}

KeyError: 2

In [38]:
set("Whello")

{'W', 'e', 'h', 'l', 'o'}

In [40]:
# pop() and clear()
# initialize my_set
# Output: set of unique elements
my_set = set("HelloWorld")
print('1st..', my_set)

# pop an element
print('2nd ..', my_set.pop())

# pop another element
my_set.pop()
print('3rd ..', my_set)

# clear my_set
my_set.clear()
print('4th ..', my_set)

1st.. {'d', 'W', 'H', 'l', 'r', 'e', 'o'}
2nd .. d
3rd .. {'H', 'l', 'r', 'e', 'o'}
4th .. set()

In [42]:
# Python Set Operations
# UNION
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}
print (A|B)

{1, 2, 3, 4, 5, 6, 7, 8}

In [44]:
A.union(B)

{1, 2, 3, 4, 5, 6, 7, 8}

In [46]:
# INTERSECTION
# initialize A and B
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

print(A&B)

{4, 5}

In [48]:
A.intersection(B)

{4, 5}

In [50]:
B.intersection(A)

{4, 5}

In [52]:
# Set Difference
# initialize A and B
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

# use - operator on A
# Output: {1, 2, 3}
print(A - B)

{1, 2, 3}

In [54]:
A.difference(B)

{1, 2, 3}

In [56]:
B.difference(A)

{6, 7, 8}

In [58]:
# Set Symmetric Difference
# Symmetric Difference of A and B is a set of elements in both A and B 
# except those that are common in both.
# initialize A and B
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

print(A ^ B)

{1, 2, 3, 6, 7, 8}

In [66]:
# Iterating Through a Set
for letter in set("apple"):
    print(letter,end=' ')

p e l a

In [68]:
# Creating a Set
fruits_set = {"apple", "banana", "orange"}

In [74]:
# Adding Elements to a Set
fruits_set.add('mango')
print(fruits_set)

# Adding Multiple Elements to a Set
fruits_set.update(["kiwi", "papaya"])
print(fruits_set)  # Output: {"apple", "banana", "orange", "mango", "kiwi", "papaya"}

{'banana', 'mango', 'kiwi', 'apple', 'papaya', 'orange'}
{'banana', 'mango', 'kiwi', 'apple', 'papaya', 'orange'}

In [76]:
# Removing an Element from a Set
fruits_set.remove("kiwi")
print(fruits_set)  # Output: {"apple", "banana", "orange", "mango", "papaya"}

# Discarding an Element (no error if element doesn't exist)
fruits_set.discard("apple")
print(fruits_set)  # Output: {"banana", "orange", "mango", "papaya"}

# Removing and Returning an Arbitrary Element
removed_item = fruits_set.pop()
print("Removed Item:", removed_item)  # Output: (some element from the set)
print(fruits_set)  # Output: (updated set without the removed item)

{'banana', 'mango', 'apple', 'papaya', 'orange'}
{'banana', 'mango', 'papaya', 'orange'}
Removed Item: banana
{'mango', 'papaya', 'orange'}

In [78]:
# Union of Two Sets
more_fruits_set = {"kiwi", "grape", "mango"}
all_fruits_set = fruits_set.union(more_fruits_set)
print(all_fruits_set)  # Output: {"apple", "banana", "orange", "kiwi", "grape", "mango", "papaya"}

# Intersection of Two Sets
common_fruits_set = fruits_set.intersection(more_fruits_set)
print(common_fruits_set)  # Output: {"mango"}

# Difference Between Two Sets
different_fruits_set = fruits_set.difference(more_fruits_set)
print(different_fruits_set)  # Output: {"banana", "orange", "papaya"}

# Symmetric Difference Between Two Sets (Elements not in both sets)
symmetric_diff_set = fruits_set.symmetric_difference(more_fruits_set)
print(symmetric_diff_set)  # Output: {"banana", "grape", "orange", "kiwi", "papaya"}

{'mango', 'papaya', 'grape', 'kiwi', 'orange'}
{'mango'}
{'papaya', 'orange'}
{'kiwi', 'papaya', 'grape', 'orange'}

In [86]:
# Set Membership (Checking if an element is present in the set)
print(fruits_set)
print("apple" in fruits_set)  # Output: False (Removed earlier)
print("banana" not in fruits_set)  # Output: False (Still in the set)

{'mango', 'papaya', 'orange'}
False
True

In [92]:
# Checking if a Set is a Subset of Another Set
subset_check = {"mango", "papaya"}.issubset(fruits_set)
print(subset_check)  # Output: True

# Checking if a Set is a Superset of Another Set
superset_check = fruits_set.issuperset({"orange", "papaya"})
print(superset_check)  # Output: True

# Checking if Two Sets are Disjoint (No common elements)
disjoint_check = fruits_set.isdisjoint({"grape", "kiwi"})
print(disjoint_check)  # Output: True

True
True
True

- Sets deal with collections of unique elements, meaning each element appears only once in the set.
- Set-specific operations, such as union, intersection, difference, and symmetric difference, make tasks like finding common elements or differences between sets efficient.
- Sets are particularly useful for eliminating duplicate elements from a list or sequence, as they automatically enforce uniqueness.