In [1]:
# all of the following are equivalent
my_string = 'Hello1'
print(my_string)

my_string = "Hello2"
print(my_string)

my_string = '''Hello3'''
print(my_string)

# triple quotes string can extend multiple lines
my_string = """Hello4, welcome to
           the world of Python"""
print(my_string)

Hello1
Hello2
Hello3
Hello4, welcome to
           the world of Python

In [3]:
str = ' data science class has started ... seems like confusing'

In [5]:
str[15]

'l'

In [7]:
len(str)

56

In [9]:
# access characters in a string
# index must be in range
my_string[150]

IndexError: string index out of range

In [11]:
# index must be an integer
my_string[1.5]

TypeError: string indices must be integers, not 'float'

In [13]:
# change or delete a string
# Strings are immutable. This means that elements of a string cannot be 
# changed once it has been assigned.

In [15]:
my_string = 'programiz'
my_string[5] = 'R'

TypeError: 'str' object does not support item assignment

In [17]:
my_string[5]

'a'

In [19]:
my_string = 'Python'

In [21]:
del my_string

In [23]:
# concatenation
str1 = 'Hello '
str2 ='World !'

# using +
print('str1 + str2 = ', str1 + str2)

# using *
print('str1 * 3 =', str1 * 3)

str1 + str2 =  Hello World !
str1 * 3 = Hello Hello Hello

In [25]:
# iterating
count = 0
for letter in 'Hello World how r you':
    count += 1 
    #count = count + 1
    
print(count,'letters found')

21 letters found

In [27]:
my_string = " Hello How are you"

'cal' in my_string

False

In [29]:
'Hello' in my_string

True

In [31]:
i = 0
i = i + 1

In [33]:
i += 10
i = i + 10

In [35]:
i

21

In [37]:
# Python String Formatting
print("He said, "What's there?"")

SyntaxError: unterminated string literal (detected at line 2) (85761507.py, line 2)

In [39]:
# OBJECT
# ADT
# CONTAINER
# SEQUENCE

# {data store} + {operational capabilities}

In [41]:
str1 = "Bangalore is very hot with temp = {}, humidity = {}"

In [43]:
print('Today is very hot {}, yesterday was nice {}'.format(100, 90))

Today is very hot 100, yesterday was nice 90

In [45]:
print("Bangalore is very hot with temp = {}, humidity = {}".format(41, 84) )

Bangalore is very hot with temp = 41, humidity = 84

In [47]:
print("Data science {} {} {}".format('John','Bill','Sean'))
print("Data science {2} {0} {1}".format('John','Bill','Sean'))

print("Data science {ff} {gg} {kk}".format(kk='John',gg='Bill',ff='Sean'))

Data science John Bill Sean
Data science Sean John Bill
Data science Sean Bill John

In [49]:
print("KKKKKKKKKKK {} {} {}".format('Data Science', 'ML', 'DL'))

KKKKKKKKKKK Data Science ML DL

In [51]:
# float formatting

a = 17699999996.7677
b = 2244444444440.5666666
print("Two float numbers : {} & {}".format(a, b))
print("Two float numbers : {:8.2f} & {:.2f}".format(a, b))
print("Two float numbers : {:.2f} & {:10.2f}".format(a, b))

Two float numbers : 17699999996.7677 & 2244444444440.567
Two float numbers : 17699999996.77 & 2244444444440.57
Two float numbers : 17699999996.77 & 2244444444440.57

In [71]:
name = "John"
print("Hello, %30s !" % name)

Hello,                           John !

In [55]:
name = "Rajendra Singh"
print("Hello, {}".format( name))

Hello, Rajendra Singh

In [79]:
name = "Rajendra Singh"
print("Hello, {0}".format(name))

Hello, Rajendra Singh

In [93]:
name = "Rajendra Singh"
age = 10
descp = 'DBA'

print("Hello, {0:2}Ji".format(name, age, descp))

Hello, Rajendra SinghJi

In [96]:
name = "John"
age = 23
print("%s is %d years old." % (name, age))

John is 23 years old.

In [98]:
# This prints out: A list: [1, 2, 3]
mylist = [1,2,3]
print("A list: %s" % mylist)

A list: [1, 2, 3]

In [100]:
data = ("John", "Doe", 53.44)
format_string = "Hello %s %s. Your current balance is $%s."

print(format_string % data)

Hello John Doe. Your current balance is $53.44.

In [104]:
# default arguments
print("Hello {}, your balance is {}.".format("Adam", 230.2346))

# positional arguments
print("Hello {0}, your balance is {1}.".format("Adam", 230.2346))

# keyword arguments
print("Hello {name}, your balance is {blc}.".format(blc=230.2346, name="Adam"))

# mixed arguments
print("Hello {0}, your balance is {blc}.".format("Adam", blc=230.2346))

Hello Adam, your balance is 230.2346.
Hello Adam, your balance is 230.2346.
Hello Adam, your balance is 230.2346.
Hello Adam, your balance is 230.2346.

In [106]:
# integer numbers with minimum width
print("{:5d}".format(12))

# width doesn't work for numbers longer than padding
print("{:6d}".format(1234))

# padding for float numbers
print("Hello the number is {:8.2f}".format(12.2346))

# integer numbers with minimum width filled with zeros
print("{:05d}".format(12))

# padding for float numbers filled with zeros
print("{:08.2f}".format(12.2346))

   12
  1234
Hello the number is    12.23
00012
00012.23

In [108]:
# show the + sign
print("{:+10.2f} {:+10.2f}".format(12.23, -12.23))

# show the - sign only
print("{:-10.2f} 2.23, -12.{:-10.2f}".format(123))

# show space for + sign
print("{: f} {: f}".format(12.23, -12.23))

    +12.23     -12.23
     12.23     -12.23
 12.230000 -12.230000

In [110]:
# string padding with left alignment
print("{:5}".format("cat"))

# string padding with right alignment
print("{:>5}".format("cat"))

# string padding with center alignment
print("{:^5}".format("cat"))

# string padding with center alignment
# and '*' padding character
print("{:*^7}".format("cat"))

cat
  cat
 cat
**cat**

In [112]:
s = 'kfkfkfffffffffffffffffff'
s[:5]

'kfkfk'

#### Summarize

In [115]:
# Concatenation
first_name = "John"
last_name = "Doe"
full_name = first_name + " " + last_name
print(full_name)  # Output: "John Doe"

John Doe

In [117]:
# String Length
message = "Hello, World!"
length = len(message)
print("Length of the message:", length)  # Output: 13

Length of the message: 13

In [119]:
# String Length
message = "Hello, World!"
length = len(message)
print("Length of the message:", length)  # Output: 13

Length of the message: 13

In [121]:
# String Slicing
message = "Hello, World!"
substring = message[2:7]
print(substring)  # Output: "llo, "

llo,

In [123]:
# String Methods
message = "Hello, World!"

# Convert to Uppercase
print(message.upper())  # Output: "HELLO, WORLD!"

# Convert to Lowercase
print(message.lower())  # Output: "hello, world!"

# Capitalize First Letter
print(message.capitalize())  # Output: "Hello, world!"

# Replace Substring
new_message = message.replace("World", "Python")
print(new_message)  # Output: "Hello, Python"

# Count Occurrences of a Substring
count = message.count("l")
print("Occurrences of 'l':", count)  # Output: 3

# Check if the String Starts or Ends with a Substring
print(message.startswith("Hello"))  # Output: True
print(message.endswith("World"))    # Output: False

HELLO, WORLD!
hello, world!
Hello, world!
Hello, Python!
Occurrences of 'l': 3
True
False

In [127]:
# Splitting and Joining Strings
sentence = "Python is awesome!"
words = sentence.split()  # Splits the string into a list of words
print(words)  # Output: ["Python", "is", "awesome!"]

# Joining the Words into a String
new_sentence = "-".join(words)
print(new_sentence)  # Output: "Python-is-awesome!"

['Python', 'is', 'awesome!']
Python-is-awesome!

In [129]:
text = '''How to Split a String STOP into a List Using Regular STOP Expressions with the re Module
The re module in Python provides a powerful way -to split strings based on regular 
expressions.'''

In [131]:
sentence = "Python is awesome!"
words = sentence.split()  # Splits the string into a list of words
print(words)  # Output: ["Python", "is", "awesome!"]

['Python', 'is', 'awesome!']

In [133]:
", ".join(words)

'Python, is, awesome!'