---------------
### Built-in and user defined functions
-----------------

Functions in Python can be broadly classified into two types:

**Built-in Functions:**

- Built-in functions are functions that come pre-defined with the Python programming language.

- These functions are part of the Python Standard Library, and you can use them directly without needing to import any external libraries.

- Examples of built-in functions include print(), len(), abs(), max(), min(), sum(), range(), type(), input(), and many more.

In [3]:
# Using built-in functions
x = abs(-5)
print(x)  # Output: 5

y = max(10, 5, 20, 8)
print(y)  # Output: 20

name = input("Enter your name: ")
print("Hello, " + name)

5
20

Enter your name:  Manali

Hello, Manali

**User-Defined Functions:**

- User-defined functions are functions that you create and define yourself.
- They allow you to write custom code and group related tasks into a single function.
- User-defined functions are defined using the def keyword, followed by the function name, parameter list (if any), and a block of code (function body)

In [8]:
# User-defined function
def greet(name):
    print("Hello, " + name + "!")

# Calling the function
greet("Alice")  # Output: Hello, Alice!
greet("Bob")    # Output: Hello, Bob!

Hello, Alice!
Hello, Bob!

#### return multiple values
- To do this, you make use of tuples.

In [12]:
# Define `plus()`
def oper(a, b):
    summ  = a + b
    mult  = a * b
    
    return (summ, mult)

In [14]:
oper(3, 4)

(7, 12)

In [16]:
# Call 
summ, mult = oper(3, 4)
ret_tuple  = oper(3, 4)

In [18]:
# Print sum, mult
print(summ)
print(mult)
print(ret_tuple)

7
12
(7, 12)

##### Function Arguments in Python
- There are 4 types of arguments that Python UDFs can take:

    - `Default` arguments
    - `Required` arguments
    - `Keyword` arguments
    - `Variable number` of arguments

**Default Arguments**

- take a `default` value if no argument value is passed 
- You can assign this default value by with the assignment operator =

In [22]:
# Define `plus()` function
def plus(a, b = 2):
    return a + b

In [24]:
# Call `plus()` with only `a` parameter
plus(2, b=10)

12

In [26]:
plus(20)

22

In [28]:
# Call `plus()` with `a` and `b` parameters
plus(1, 5)

6

**Required Arguments**

- The required arguments of a function are those that have to be in there.

# Define `plus()` with required arguments
def plus(a, b):
    return a + b

In [32]:
# Define `plus()` with required arguments
def plus(a, b):
    return a + b

In [34]:
plus(10, 20)

30

In [36]:
plus(b=10, a=20)

30

In [38]:
plus(a=10)

TypeError: plus() missing 1 required positional argument: 'b'

**Variable Number of Arguments**

- In cases where you donâ€™t know the exact number of arguments that you want to pass to a function, you can use the following syntax with `*args`

In [42]:
def my_sum(my_integers):
    result = 0
    
    for x in my_integers:
        result += x
        
    return result

In [44]:
list_of_integers = [1, 2, 3]

my_sum(list_of_integers)

6

In [46]:
my_sum([10, 20, 30])

60

- This implementation works, but whenever you call this function youâ€™ll also need to `create a list of arguments` to pass to it. 

- This can be inconvenient, especially if you donâ€™t know up front all the values that should go into the list.

- This is where *args can be really useful

In [62]:
# sum_integers_args.py
def my_sum(*args):
    result = 0
    
    # Iterating over the Python args tuple
    for x in args:
        result += x
        
    return result

In [60]:
print(my_sum(1, 2, 3, 7, 13 ))

26

In [64]:
list_of_integers = [1, 2, 3]

my_sum(list_of_integers)

TypeError: unsupported operand type(s) for +=: 'int' and 'list'

- youâ€™re `no longer passing a list` to my_sum(). 

- Instead, youâ€™re passing three different positional arguments. 

- my_sum() takes all the parameters that are provided in the input and `packs` them all into a single iterable object named `args`.

> Note that `args` is just a name. 
> Youâ€™re not required to use the name `arg`s. 
> You can choose any name that you prefer, such as integers:

In [67]:
# sum_integers_args_2.py
def my_sum(*integers):
    result = 0
    for x in integers:
        result += x
    return result

print(my_sum(1, 2, 3))

6

In [69]:
def varFunc(name, *args):
        print("This is the first argument "+str(name))
        #This print will make you understand that the args is a list
        print(args)
        for item in args:
                print(item)

print("First time:")
varFunc("of 1st function call", 2, 3, 4, 5)

print("Second time:")
varFunc("of 2nd function call","asd","Bcd")

print("Third time:")
varFunc("and only argument of 3rd function call")

First time:
This is the first argument of 1st function call
(2, 3, 4, 5)
2
3
4
5
Second time:
This is the first argument of 2nd function call
('asd', 'Bcd')
asd
Bcd
Third time:
This is the first argument and only argument of 3rd function call
()

##### Using the Python `kwargs` Variable in Function Definitions

**kwargs works just like *args, but instead of accepting positional arguments it accepts keyword (or named) arguments.

In [72]:
def concatenate(**words):
    result = ""
    for arg in words.values():
        result += arg
    return result

print(concatenate(a="Real", b="Python", c="Is", d="Great", e="!"))

RealPythonIsGreat!

In [74]:
def varFunc(name, roll, **option):
        print("Name: "+name)
        print("Roll: "+str(roll))
        if "age" in option :
                print("Age: "+ str(option.get("age")))
        if "gender" in option:
                print("Gender: "+ str(option.get("gender")))

print("First Person")
varFunc("Alice", 234, age=18, gender="female")

print("\nSecond Person")
#See, the order of argument age and gender is different now
varFunc("Bob", 204, gender="male", age=21)

print("\nThird Person")
#We will not pass age as and argument
varFunc("Trudy", 204, gender="male")

First Person
Name: Alice
Roll: 234
Age: 18
Gender: female

Second Person
Name: Bob
Roll: 204
Age: 21
Gender: male

Third Person
Name: Trudy
Roll: 204
Gender: male

**examples of built-in functions**

In [78]:
# 2. max() - Returns the largest item in an iterable or the largest of two or more arguments.
numbers = [10, 20, 5, 30]
print(max(numbers))  # Output: 30

30

In [80]:
# 3. min() - Returns the smallest item in an iterable or the smallest of two or more arguments.
print(min(numbers))  # Output: 5

5

In [82]:
# 4. abs() - Returns the absolute value of a number.
num = -5
print(abs(num))  # Output: 5

5

In [84]:
# 5. sum() - Returns the sum of all elements in an iterable.
print(sum(numbers))  # Output: 65

65

In [86]:
# 6. round() - Rounds a number to the nearest integer or specified decimal places.
pi = 3.14159
print(round(pi, 2))  # Output: 3.14

3.14

In [88]:
# 7. sorted() - Returns a new sorted list from the elements of any iterable.
unsorted_list = [3, 1, 4, 1, 5, 9, 2]
sorted_list   = sorted(unsorted_list)
print(sorted_list)  # Output: [1, 1, 2, 3, 4, 5, 9]

[1, 1, 2, 3, 4, 5, 9]

In [ ]:
# 8. reversed() - Returns an iterator that yields items in reverse order.
reversed_list = list(reversed(unsorted_list))
print(reversed_list)  # Output: [2, 9, 5, 1, 4, 1, 3]

In [90]:
# 9. str() - Converts an object into a string.
number = 42
print(str(number))  # Output: '42'

42

In [92]:
# 10. int() - Converts a string or number to an integer.
num_str = "123"
print(int(num_str))  # Output: 123

123

In [94]:
# 11. float() - Converts a string or number to a floating-point number.
pi_str = "3.14"
print(float(pi_str))  # Output: 3.14

3.14

In [96]:
# 12. list() - Converts an iterable to a list.
text = "Python"
print(list(text))  # Output: ['P', 'y', 't', 'h', 'o', 'n']

['P', 'y', 't', 'h', 'o', 'n']

In [98]:
# 13. tuple() - Converts an iterable to a tuple.
text_tuple = tuple(text)
print(text_tuple)  # Output: ('P', 'y', 't', 'h', 'o', 'n')

('P', 'y', 't', 'h', 'o', 'n')

In [100]:
# 14. set() - Converts an iterable to a set, removing duplicate elements.
numbers_with_duplicates = [1, 2, 2, 3, 3, 4, 5]
unique_numbers = set(numbers_with_duplicates)
print(unique_numbers)  # Output: {1, 2, 3, 4, 5}

{1, 2, 3, 4, 5}

In [102]:
# 15. dict() - Creates a dictionary from an iterable of key-value pairs.
key_value_pairs = [('a', 1), ('b', 2), ('c', 3)]
dictionary = dict(key_value_pairs)
print(dictionary)  # Output: {'a': 1, 'b': 2, 'c': 3}

{'a': 1, 'b': 2, 'c': 3}

In [104]:
# 16. all() - Returns True if all elements in an iterable are true or if the iterable is empty.
bool_list = [True, False, True, True]
print(all(bool_list))  # Output: False

False

In [106]:
# 17. any() - Returns True if any element in an iterable is true.
print(any(bool_list))  # Output: True

True

In [108]:
# 20. zip() - Combines two or more iterables element-wise into a single iterator of tuples.
names = ['Alice', 'Bob', 'Charlie']
ages  = [25, 30, 22]
zipped_data = zip(names, ages)
print(list(zipped_data))  # Output: [('Alice', 25), ('Bob', 30), ('Charlie', 22)]

[('Alice', 25), ('Bob', 30), ('Charlie', 22)]

In [110]:
# 21. enumerate() - Returns an iterator of index-value pairs from an iterable.
fruits = ['apple', 'banana', 'cherry']
for index, fruit in enumerate(fruits):
    print(f"Index: {index}, Fruit: {fruit}")

Index: 0, Fruit: apple
Index: 1, Fruit: banana
Index: 2, Fruit: cherry

In [112]:
# 22. range() - Generates a sequence of numbers within a specified range.
nums_0_to_4 = range(5)
print(list(nums_0_to_4))  # Output: [0, 1, 2, 3, 4]

[0, 1, 2, 3, 4]

In [114]:
# 27. format() - Formats a string by replacing placeholders with values.
name = "Alice"
age = 30
print("My name is {} and I am {} years old.".format(name, age))
# Output: "My name is Alice and I am 30 years old."

My name is Alice and I am 30 years old.

In [116]:
# 28. strip() - Removes leading and trailing whitespaces from a string.
text = "   Hello, World!   "
print(text.strip())  # Output: "Hello, World!"

Hello, World!

In [118]:
# 29. join() - Joins elements of an iterable with a specified separator.
words = ['Hello', 'World', 'Python']
print('-'.join(words))  # Output: "Hello-World-Python"

Hello-World-Python

In [120]:
# 30. split() - Splits a string into a list using a specified separator.
text = "Hello, World, Python"
print(text.split(', '))  # Output: ['Hello', 'World', 'Python']

['Hello', 'World', 'Python']

In [122]:
# 31. replace() - Replaces occurrences of a substring with another string.
text = "Hello, Python!"

new_text = text.replace("Python", "World")

print(new_text)  # Output: "Hello, World!"

Hello, World!

In [124]:
# 32. capitalize() - Capitalizes the first character of a string.
text = "hello, world!"
print(text.capitalize())  # Output: "Hello, world!"

# 33. lower() - Converts a string to lowercase.
print(text.lower())  # Output: "hello, world!"

# 34. upper() - Converts a string to uppercase.
print(text.upper())  # Output: "HELLO, WORLD!"

Hello, world!
hello, world!
HELLO, WORLD!

In [126]:
# 35. isdigit() - Returns True if all characters in a string are digits.
print("123".isdigit())  # Output: True
print("abc".isdigit())  # Output: False

True
False

In [128]:
# 36. isalpha() - Returns True if all characters in a string are alphabetic.
print("abc".isalpha())  # Output: True
print("abc123".isalpha())  # Output: False

True
False

In [130]:
# 37. isalnum() - Returns True if all characters in a string are alphanumeric.
print("abc123".isalnum())  # Output: True
print("abc 123".isalnum())  # Output: False

True
False

In [132]:
# 38. isspace() - Returns True if all characters in a string are whitespace characters.
print("   ".isspace())  # Output: True
print("abc ".isspace())  # Output: False

True
False

In [134]:
# 39. startswith() - Returns True if a string starts with a specified prefix.
text = "Hello, World!"
print(text.startswith("Hello"))  # Output: True
print(text.startswith("World"))  # Output: False

# 40. endswith() - Returns True if a string ends with a specified suffix.
print(text.endswith("World!"))  # Output: True
print(text.endswith("Hello"))  # Output: False

True
False
True
False

In [136]:
# 41. count() - Returns the number of occurrences of a substring in a string.
text = "Hello, Hello, Hello, World!"
print(text.count("Hello"))  # Output: 3

3

In [138]:
# 49. capitalize() - Converts the first character of a string to uppercase and the rest to lowercase.
text = "hello, wOrlD!"
print(text.capitalize())  # Output: "Hello, world!"

# 50. swapcase() - Swaps the case of all characters in a string.
print(text.swapcase())  # Output: "HELLO, WoRLd!"

Hello, world!
HELLO, WoRLd!